@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Open+Sans+Condensed:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans Condensed', 'Verdana', sans-serif;
    background-color: rgb(255,232,209);
    overflow-x: hidden;
}

/* heading and logo */

h1 {
    font-family: 'Neonderthaw', 'Brush Script MT', cursive;
    color: #af6331;
    font-size: 300%;
    margin-left: 3%;
    display: inline-block;
    width: 50%;
}

/* navigation links */

nav {
    font-weight: 700;
    float: right;
}

.no-style-list {
    list-style: none;
}

.nav-link {
    float: left;
    margin: 15px;
    font-size: 180%;
    padding-right: 35px;
}

.nav-link-tags {
    text-decoration: none;
    color: #af6331;
}

/* hero image and intro */

#intro-outer {
    height: 800px;
    width: 100%;
    margin-top: 10px;
    background-color: white;
}

#hero-image {
    background: url('/assets/images/pexels-klaus-nielsen-6287295.jpg') no-repeat center center;
    height: 800px;
    width: 50%;
    background-size: cover;
    display: inline-block;
}

#intro-inner {
    width: 25%;
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 40%;
    font-size: 200%;
    padding-left: 13%;
    color: #785A46;
}

#intro-inner h2 {
    padding-bottom: 50px;
}

/* impact section */

#impact {
    text-align: center;
}

h3 {
    font-size: 300%;
    margin: 50px 0;
    color: #af6331;
}

.impact-row {
    height: 400px;
    display: inline-block;
    width: 100%;
    position: relative;
    right: 60px;
}

.impact-left {
    float: left;
    width: 50%;
}

.impact-right {
    float: right;
    width: 50%;
}

.impact-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    padding: 50px;
}

.impact-text {
    font-size: 150%;
    height: 200px;
    width: 30%;
    color: rgb(255,232,209);
    background-color: #af6331;
    border-radius: 5%;
    padding: 10px;
    margin: 0 auto;
    line-height: 40px;
    float: right;
    position: relative;
    top: 80px;
    right: 50px;
}

#top-left-text {
    padding-top: 20px;
}

#bottom-left-text {
    padding-top: 38px;
}

#bottom-right-text {
    padding-top: 15px;
}

/* bread buddies reasons section */

#bread-buddies {
    height: 800px;
    width: 100%;
    background-color: white;
}

#reasons-list {
    width: 33%;
    padding: 5%;
    display: inline-block;
}

#reasons-list-heading {
    text-align: center;
    color: #785A46;
    width: 70%;
    position: relative;
    left: 10%;
}

#reasons-list-items {
    font-size: 200%;
    line-height: 4rem;
    position: relative;
    left: 50px;
}

#find-out-link {
    margin: 3% 0 0 9%;
    position: absolute;
}

#find-out-button {
    text-align: center;
    font-size: 150%;
    color: #785A46;
    background-color: white;
    border: 3px solid #785A46;
    border-radius: 5%;
    padding: 5%;
    width: 150%;

}

#find-out-button:hover {
    background-color: #785A46;
    color: white;
}

#baking-image {
    width: 50%;
    height: 800px;
    float: right;
    background: url(../images/annie-spratt-UyEmagArOLY-unsplash.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
}

/* footer */

footer {
    height: 75px;
    text-align: center;
    font-size: 200%;
}

footer a {
    text-decoration: none;
    color: #af6331;
    position: relative;
    top: 25%;
    margin: 4%;
}

footer a:hover {
    color: #785A46;
}

/* courses page */

#courses-menu {
    background-color: white;
    height: 700px;
}

#courses-header {
    text-align: center;
    background: white;
    font-size: 250%;
    padding: 3% 3% 0;
    color: #785A46;
}

#contact-link {
    text-align: center;
    color: #785A46;
    font-size: 120%;
    padding-bottom: 2%;
}

#contact-link a {
    color: #785A46;
}

#courses-section {
    background-color: white;
}

#courses-section h3 {
    text-align: center;
    background-color: rgb(255,232,209);
    margin: 0;
    padding: 1% 0;
    width: 100%;
}

.courses-menu-links {
    text-align: center;
    font-size: 200%;
    padding: 2.5%;
    margin: 30px 0;
}

.courses-menu-links-tags {
    text-decoration: none;
    color: #785A46;
}

.courses-menu-links-tags:hover {
    text-decoration: underline;
}

.course-elements {
    height: 900px;
    overflow: hidden;
}

.course-features {
    width: 50%;
    float: left;
    margin-top: 10%;
}

#baker-course-features {
    float: right;
}

.course-features-list {
    position: relative;
    bottom: 7rem;
}

.course-features-items {
    position: relative;
    left: 12%;
    margin: 8%;
    font-size: 250%;
    padding: 3% 0;
}

#course-img-1 {
    width: 50%;
    height: 800px;
    float: right;
    background: url('../images/pexels-elina-fairytale-3807315.jpg') no-repeat center center;
    background-size: cover;
}

#course-img-2 {
    width: 50%;
    height: 800px;
    float: left;
    background: url('../images/pexels-elina-fairytale-3807314.jpg') no-repeat center center;
    background-size: cover;
}

#course-img-3 {
    width: 50%;
    height: 800px;
    float: right;
    background: url('../images/sister-gf0ac09b02_1920.jpg') no-repeat center center;
    background-size: cover;
}

/* contacts page */

#contact-form {
    height: 900px;
    background-color: white;
}

#contact-form-elements {
    float: left;
    width: 50%;
    padding: 1% 5%;
    color: #785A46;
}

#contact-form-structure {
    position: relative;
    left: 20%;
    font-size: 160%;
}

.form-element-block {
    display: block;
    padding: 1% 0;
}

.input-text-element {
    border: 1px solid #785A46;
    border-radius: 5%;
    padding-left: 1%;
}

#course-selection {
    margin: 5% 0% 1%;
}

.radio-options {
    margin-bottom: 2%;
    font-size: 87%;
}

#textarea-label {
    margin-top: 5%;
}

#comment {
    margin-bottom: 2%;
}

#details-submit-button {
    background-color: white;
    color: #785A46;
    border: 1px solid #785A46;
    border-radius: 5%;
    padding: 1%;    
}

#details-submit-button:hover {
    background-color: #785A46;
    color: white;
}

#form-img {
    background: url("../images/pexels-kasia-palitava-10391653.jpg") no-repeat center center;
    background-size: cover;
    height: 900px;
    width: 50%;
    position: relative;
    left: 50%;
}

#contact-details {
    text-align: center;
    font-size: 200%;
    background-color: white;
}

#contact-details h4 {
    text-align: center;
    font-size: 150%;
    color: #af6331;
    background-color: rgb(255,232,209);
    margin-bottom: 2%;
    padding: 0.5%;
}

#contact-details-elements {
    padding: 5% 0 10%;
    color: #785A46;
}

#phone-details {
    float: left;
    position: relative;
    left: 5%;
}

#email-details {
    display: inline-block;
}

#address-details {
    float: right;
    position: relative;
    right: 5%;
}

.detail-heading {
    font-weight: 700;
}

/* Media queries */

/* For large screens size from 1700px wide and down */
@media screen and (max-width: 1700px) {

    /* Home page */
    .impact-left {
        position: relative;
        left: 30px;
    }

    .impact-text {
        font-size: 125%;
        line-height: 33px;
        right: 30px;
    }

    #reasons-list-heading {
        width: 100%;
        margin: 0 0 50px;
    }

    #reasons-list-items {
        font-size: 170%;
        line-height: 3rem;
    }

    /* Courses page */

    .course-features-list {
        bottom: 3rem;
    }

    .course-features-items {
        left: 8%;
        margin: 8% 0;
        font-size: 220%;
        padding: 5% 0;
    }

    #course-img-1 {
        height: 900px;
    }

    #course-img-2 {
        height: 900px;
    }

    #course-img-3 {
        height: 900px;
    }


    /* Contacts page */
    #contact-form-structure {
        left: 10%;
    }
}

/* For large to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {

    /* Home page */
    h1 {
        font-size: 250%;
    }

    nav {
        width: 47%;
    }

    .nav-link {
        font-size: 150%;
        padding-right: 15px;
        position: relative;
        left: 12%;
    }

    #intro-inner {
        bottom: 20%;
    }

    .impact-row {
        height: auto;
    }

    .impact-left {
        width: 100%;
    }

    .impact-right {
        width: 100%;
        position: relative;
        left: 30px;
    }

    .impact-text {
        line-height: 2.5rem;
        text-align: justify;
    }

    #reasons-list {
        width: 35%;
        padding: 5% 3%
    }

    #reasons-list-items {
        font-size: 160%;
        line-height: 2.5rem;
    }

    /* Courses page */

    /* Contacts page */
}

/* For medium screens size from 768px wide and down */
@media screen and (max-width: 768px) {

    /* Home page */

    /* Courses page */

    /* Contacts page */
}

/* For small screens size from 320px wide and down */
@media screen and (max-width: 320px) {

    /* Home page */

    /* Courses page */

    /* Contacts page */
}