@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Open+Sans+Condensed:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* color palette
#af6331
#eb9762
#ffe8d1
#00c9ab

*/

body {
    font-family: 'Open Sans Condensed', 'Verdana', sans-serif;
    background-color: rgb(255,232,209);
}

/* heading and logo */

h1 {
    font-family: 'Neonderthaw', 'Brush Script MT', cursive;
    color: #af6331;
    font-size: 300%;
    margin-left: 3%;
    display: inline-block;
    width: 50%;
}

/* navigation links */

nav {
    font-weight: 700;
    float: right;
}

ul {
    list-style: none;
}

ul li {
    float: left;
    margin: 15px;
    font-size: 180%;
    padding-right: 35px;
}

ul li a {
    text-decoration: none;
    color: #af6331;
}

/* hero image and intro */
#intro-outer {
    height: 800px;
    width: 100%;
    margin-top: 10px;
    background-color: white;
}

#hero-image {
    background: url('/assets/images/pexels-klaus-nielsen-6287295.jpg') no-repeat center center;
    height: 800px;
    width: 50%;
    background-size: cover;
    display: inline-block;
}

#intro-inner {
    height: 700px;
    width: 25%;
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 40%;
    font-size: 200%;
    padding-left: 13%;
    color: #785A46;
}

#intro-inner h2 {
    padding-bottom: 50px;
}

/* impact section */

#impact {
    text-align: center;
}

h3 {
    font-size: 300%;
    margin: 50px 0;
    color: #af6331;
}

.impact-row {
    height: 500px;
    display: inline-block;
    width: 100%;
    position: relative;
    right: 60px;
}

.impact-left {
    float: left;
    width: 50%;
}

.impact-right {
    float: right;
    width: 50%;
}

.impact-img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    padding: 50px;
}

.impact-text {
    font-size: 150%;
    height: 200px;
    width: 30%;
    color: rgb(255,232,209);
    background-color: #af6331;
    border-radius: 5%;
    padding: 10px;
    margin: 0 auto;
    line-height: 40px;
    float: right;
    position: relative;
    top: 80px;
    right: 50px;
}

#top-left-text {
    padding-top: 20px;
}

#bottom-left-text {
    padding-top: 38px;
}

#bottom-right-text {
    padding-top: 15px;
}